.about p {
margin:auto;
   padding: 35px 30px 20px 30px;
font-size:1.5em;
font-family: 'Droid Sans', sans-serif;
    text-align: center;
}

img {
padding-top:20px;
   height:auto;
    width:33%;

    position:relative;
    display:inline-block;
    
}

.about_img {

    position:relative;
    width:100%;
    padding-bottom:02px;
    
}

p span {
font-size: 0.8em;
    font-style: italic;
color:darkslategray;
}

@media (max-width: 600px) {
    .about p{
    padding-left:40px;
        padding-right:40px;
        font-size:1.2em;
        transition:ease .24s;
    }
    
    img {
padding-top:20px;
   height:auto;
    width:30%;
    padding-left:5px;
    padding-right:5px;
        clear:both;
     
}

.about_img {
    position:relative;
    width:100%;
    padding-bottom:20px;
    float:left; 
    
}
    
}

.education {
font-family: 'Droid Sans', sans-serif;
    margin:auto;
    text-align:center;
    padding: 20px 30px 10px 30px;
}

.education h2{
color:darkgreen;
    padding-bottom:0px;
}

.experience{
font-family: 'Droid Sans', sans-serif;
     margin:auto;
    text-align:center;
padding: 10px 30px 20px 30px;

}

.experience h2 {
color:darkslateblue;
      padding-bottom:0px;
}


.skills {

font-family: 'Droid Sans', sans-serif;
     margin:auto;
    text-align:center;
padding: 5px 30px 20px 30px;
}
.skills h2{
color:darkred;
      padding-bottom:0px;
}


@media (max-width: 399px) {
   
    img {
display:none;
     
}
}